/*Header.css is common for all the pages and thus designing of the header has been done here*/
/*main header styling */
header {
  display: flex;
  justify-content: space-between;
}

/*designing the logo ScriBBler*/
.logo {
  padding-left: 20px;
}

/*heading design */
h1 {
  font-family: "Montez", cursive;
  color: #3951fd;
  font-weight: bolder;
  font-size: 40px;
}

/* anchor tag design */
a {
  text-decoration: none;
}

/* heading design on hover */
h1:hover {
  cursor: pointer;
}

/* sub heading design */
h3 {
  font-family: "Ubuntu Mono", monospace;
  margin-top: -20px;
}

/*Designing the SignIn SignUp Buttons */
.btns {
  padding-right: 15px;
  padding-top: 10px;
}

/* sign up sign in button design */
.my-btn {
  background: linear-gradient(
    to right,
    #2948ff,
    #396afc
  );
  color: white;
  border: 1px solid #667db6;
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 1px;
  margin-right: 10px;
}
