body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 20vw;
  border: 10px solid white;
  border-radius: 5px;
}

.innerModal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bolder;
  font-size: 20px;
}

.innerModal input {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

#modal-Btn {
  background-color: green;
  border: green;
  color: white;
  border-radius: 2px;
  padding: 10px 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closeSignIn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeSignIn:hover,
.closeSignIn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.memberSigning {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bolder;
}

#buttonSignUp {
  color: blue;
  cursor: pointer;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77vh;
  gap: 20px;
}

#posts {
  background-color: #cfb53b;
  border: 1px solid #dddddd;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.postModal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  border: 1px solid white;
  border-radius: 15px;
}

.innerPostModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading {
  font-size: 35px;
}

.innerPostModal label {
  font-size: 25px;
}

.innerPostModal input {
  height: 2vh;
  border: 1px solid white;
  background-color: #f1f1f1;
  font-size: 20px;
}

.innerPostModal textarea {
  height: 52vh;
  border: 1px solid white;
  background-color: #f1f1f1;
  font-size: 20px;
}

.closePost {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closePost:hover,
.closePost:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#createButton {
  background-color: green;
  border: green;
  color: white;
  width: 5vw;
  height: 3vh;
  margin-left: 37vw;
  border-radius: 2px;
  padding: 3px 5px 5px 5px;
  cursor: pointer;
}


