/* main body of blog */
.blog-content {
  padding: 0 50px;
}

/* title style */
.blog-Title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
}

/* author style */
.author {
  font-size: 30px;
  font-weight: bolder;
}

/* edit button style */
#editingPost {
  float: right;
  color: white;
  border: 1px solid #ed2553;
  background-color: #ed2553;
  box-shadow: 0 2px 4px 0 #ed2553, 0 3px 10px 0 #ed2553;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -45px;
}

.insideBlog p {
  font-weight: bolder;
}

.contentOfBlog {
  font-size: 20px;
}

/* blog view style */
.actionOnBlog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* styling like button */
.like-btn button {
  color: white;
  background-color: #ed2553;
  border: 1px solid #ed2553;
  padding: 5px 10px;
}

/* comment container styling */
.comments-container {
  margin-top: 65px;
}

/* Adding designs to comment button */
.new-comment {
  background-color: #ed2553;
  border: 1px solid #ed2553;
  color: white;
  padding: 5px 10px;
}

/* Adding designs to comment section */
.commentDesign {
  list-style-type: none;
  border: 15px solid lightgrey;
  border-radius: 10px;
  width: 50%;
  height: 5vh;
}
