body {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
/* main body of blog */
.blog-content {
  margin-top: 10px;
  padding: 0 50px;
}

#borderCon{
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

/* title style */
.blog-Title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

/* author style */
.author {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

#blog-body {
  color: white;
}

/* edit button style */
#editingPost {
  float: right;
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  );
  font-weight: bolder;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -45px;
}

/* Blog Paragraph design */
.insideBlog p {
  font-weight: bolder;
}

/* main content of blog */
.contentOfBlog {
  font-size: 20px;
}

/* blog view style */
.actionOnBlog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* styling like button */
.like-btn button {
  margin-top: 5px;
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  );
  font-weight: bolder;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
}

/* like counts design */
#like-count {
  margin-top: 5px;
  color: white;
}

/* comment container styling */
.comments-container {
  margin-top: 65px;
}

/* textarea of comments */
#commentsContent {
  width: 70%;
}

.commentHeading{
  color: white;
}

/* Adding designs to comment button */
.new-comment {
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  );
  font-weight: bolder;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
}

/* Adding designs to comment section */
.commentDesign {
  list-style-type: none;
  border-top: 15px solid lightgrey;
  border-bottom: 15px solid lightgrey;
  border-left: 10px solid lightgrey;
  border-right: 10px solid lightgrey;
  border-radius: 10px;
  width: 50%;
  height: 5vh;
}
