body {
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.postContainer {
  display: flex; 
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  gap: 30px;
}

#post1 {
  width: 40%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#post2 {
  width: 40%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#post3 {
  width: 40%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#post4 {
  width: 40%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#post5 {
  width: 40%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#post1:hover, #post2:hover, #post3:hover, #post4:hover, #post5:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
}

.user-title {
  width: 15%;
  max-width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.post-content {
  width: 75%;
  display: table-cell;
  text-align: left;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;
}

.post-title {
  font-family: "Itim", cursive;
  font-weight: bold;
  color: #2b312b;
  font-size: 20px;
  overflow: hidden;
  height: 25px;
}

.main-content {
  height: 55px;
  overflow: hidden;
  margin-bottom: 0;
}


.post-again {
  float: right;
  cursor: pointer;
  font-size: 18px;
  margin-right: 0 ;
  padding-right: 0 ;
  padding-bottom: 10px;
  font-size: 30px;
}

.deleteBlog {
  padding-top: 5px;
  padding-right: 5px;
  float: right;
  font-size: 25px;
  color: #000;
  width: 10%;
  background-color: #e8e8e8;
  cursor: pointer;
  border-style: none;
}

.deleteBlog:hover,
.deleteBlog:focus {
  color: #f44336;
  cursor: pointer;
}

.deletePrompt {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 25px;
  opacity: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.deleteContent {
  background-color: #fefefe;
  margin: 15% auto auto auto;
  border: 1px solid #fff;
  padding: 20px 20px 20px 20px;
  opacity: 1;
  width: 18vw;
  overflow: hidden;
  color: #000;
  font-family: "Ubuntu Mono", monospace;
  border-radius: 15px;
}

.deleteContainer {
  font-size: 18px;
  letter-spacing: 0.5;
}

.buttonsContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.deleteButton {
  background-color: #f44336;
  border: 1px solid green;
  background-color: green;
  color: white;
  padding: 5px 25px;
  cursor: pointer;
}

.notDelete {
  background-color: #f44336;
  color: white;
  border: 1px solid #f44336;
  padding: 5px 25px;
  cursor: pointer;
}

@media screen and (max-width:412px) {
  .postContainer{
    display: block;
    margin-left: -1%;
  }
  #post1 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  #post2 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  #post3 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  #post4 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  #post5 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
  }

  .deleteContent {
    background-color: #fefefe;
    margin: 55% auto auto auto;
    border: 1px solid #fff;
    padding: 20px 20px 20px 20px;
    opacity: 1;
    overflow: hidden;
    color: #000;
    font-family: "Ubuntu Mono", monospace;
    border-radius: 15px;
  }

  .buttonsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
  }
}

